*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url("../image/fond.jpg");
  background-size: cover;
}
header h1{
  text-align: center;
  font-family: fantasy;
  font-size: 50px;
}
main a img{
  width: 16%;
  margin: 1%;
  border-radius: 25px;
  transition: 0.3s;
}
main a img:hover{
  width: 18%;
  margin: 0;
}
img{
  width: 200px;
}
nav{
  text-align: center;
  font-family: monospace;
  margin-top: auto; 
}
nav a{
  text-align: center;
  color: white;
  background-color: black;
  border-color: white;
  border-radius: 25px;
  font-size: 30px;
  transition: 0.3s;
  margin-top: 600px;
}
nav a:hover{
  background-color: white;
  color: red;
  font-size: 35px;
  margin-top: 600px;
}
main{
  text-align: center;
}
