*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url("../image/suurvie.png");
  background-size: cover;
}header article a img{
  width: 7%;
  margin: 1%;
  border-radius: 25px;
  transition: 0.3s;
}
header article a img:hover{
  width: 9%;
  margin: 0;
}
main a img{
  width: 200px;
  border-radius: 25px;
  transition: 0.3s;
}
main a img:hover{
  width: 250px;
  border-radius: 30px;
}
main{
  text-align: center;
}
img{
  width: 200px;
}
header h1{
  text-align: center;
  margin-bottom: 50px;
  font-size: 60px;
  font-family: monospace;
  background-color: red;
  border-radius: 25px;
  width: 500px;
  margin-left: 500px;
}
