*{
  margin: 0;
  padding: 0;
}
header h1{
  text-align: center;
  margin-bottom: 50px;
  font-size: 60px;
  font-family: monospace;
  background-color: red;
  border-radius: 25px;
  width: 500px;
  margin-left: 500px;
}
img{
  width: 200px;
}
nav article a img{
  width: 7%;
  margin: 1%;
  border-radius: 25px;
  transition: 0.3s;
}
nav article a img:hover{
  width: 9%;
  margin: 0;
}
body{
  background-image: url("../../image/pvp.png");
  background-size: cover;
}
li h2 a{
  color: orange;
  font-family: monospace;
}
